

.imageGrid {
  line-height: 0;
}
.imageGrid .tile {
  width:10.0%;
  min-height:10em;
  line-height: 1.2;
  display:inline-block;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  overflow: hidden;
  position: relative;

  color:#fff;
  font-family:"Verdana",sans-serif;
  text-shadow: 2px 2px 2px #000;
  cursor: pointer;
  cursor: hand;
}

.imageGrid .tile:before {
  content: '';
  /* background-color: rgba(15,15,15,0.5);*/
  display: block;
  width: 100%;
  height: 100%;
  z-index: 0;
  position: absolute;
}

.imageGrid .tile:hover:before {
  display: none;
}

.imageGrid .tile .textWrapper {
  text-align: center;
  vertical-align: middle;
  width: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: .75em;
}

.imageGrid .tile .textWrapper .content {
  display: none;
}

.imageGrid .tile:hover .textWrapper .content {
  display: block;
}

.imageGrid .tile:hover .textWrapper .content h2 {
  margin: 0;
}

@media (max-width: 1000px) {
  .imageGrid .tile {
    width: 50%;
  }
}

@media (max-width: 700px) {
  .imageGrid .tile {
    width: 100%;
  }

}